* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Hack, FontAwesome, sans-serif;
    font-size: 12;
    font-weight: bold;
}

window#waybar {
    background-color: #282a36;
    color: #f8f8f8;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.0;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #f8f8f8;
}
*/

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #f8f8f8;
}

/* you can set a style on hover for any module like this */
#workspaces {
    padding: 0;
    margin: 0;
    font-family: FontAwesome;
    font-weight: bold;
}

#workspaces button {
    min-height: 0;
    min-width: 0;
    background-color: transparent;
    color: #8be9fd;
}

#workspaces button.empty {
    color: #bd93f9;
}

#workspaces button.visible {
    color: #ff79c6;
}

#workspaces button.active {
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #ff79c6;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #f8f8f8;
}

#cpu,
#memory,
#disk,
#language,
#clock,
#battery,
#temperature,
#pulseaudio,
#tray,
#mpd {
    padding: 0 1px;
    margin: 0 1px;
    border-width: 0 0 2px 0;
    border-style: solid;
    font-weight: bold;
}

#tray {
    border-width: 0;
}

#window,
#workspaces {
    margin: 0;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    border-color: #f1fa8c;
    color: #f1fa8c;
}

/*#battery {
    background-color: #f8f8f8;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #f8f8f8;
    background-color: #26A65B;
} battery still not configured*/

@keyframes blink {
    to {
        background-color: #f8f8f8;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #f8f8f8;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #f8f8f8;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #f8f8f8;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    border-color: #50fa7b;
    color: #50fa7b;
}

#memory {
    border-color: #ffb86c;
    color: #ffb86c;
}

#disk {
    border-color: #bd93f9;
    color: #bd93f9;
}

#pulseaudio {
    border-color: #bd93f9;
    color: #bd93f9;
}

#pulseaudio.muted {
    border-color: #44475a;
    color: #44475a;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    border-width: 0 0 0 2px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    border-color: #8be9fd;
    color: #8be9fd;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
